
/* Container geral */
.container {
  display: flex;
  height: 100vh;
  position: relative;
  font-family: monospace, sans-serif;
}

/* Lado esquerdo */
.left-side {
  flex: 1; /* ocupa metade */
  background: linear-gradient(135deg, #3A5F6F, #2d4a57);
  color: #FFF;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza vertical */
  align-items: center;     /* centraliza horizontal */
  text-align: center;
}

.left-side .logo {
  width: auto; /* ajuste do logo */
  margin-bottom: 20px;
}

.left-side h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  font-weight: bold;
}

.left-side p {
  font-size: 1.1rem;
  margin-top: 10px;
  line-height: 1.5rem;
  max-width: 500px;
}

/* Lado direito */
.right-side {
  flex: 1; /* ocupa metade */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* centraliza vertical */
  align-items: center;    /* centraliza horizontal */
  min-height: 100vh;
}

.LogoIcon { 
  position: relative;
  top: 30px;
  z-index: 10;
  display: flex;
  align-items: left;
  gap: 12px;
} 

.LogoIcon img {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.LogoIcon .Logo-Text {
  font-size: 38px;
  color: #3A5F6F;
  font-weight: bold;
  line-height: 1.2;
}

.LogoIcon .Logo-Text .Logo-Text-2 {
  display: block;
  margin-left: 60px;
}

.right-side .paragraph {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 400px;
  color: #979090;
}

.right-side a {
  margin-top: 10px;
  color: #3A5F6F;
  text-decoration: underline;
  font-size: 14px;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

/*Checkbox da página*/
.perfil-selector {
  display: flex;
  gap: 20px;
  margin: 10px 0 20px;
  font-weight: 500;
}
.perfil-selector input {
  margin-right: 6px;
}

.right-side .button-link {
  display: block;
  width: 100%;
  max-width: 400px;
  text-decoration: none;
  color: #3A5F6F;
  background-color: transparent;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #3A5F6F;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

.right-side.button-link:hover {
  opacity: 0.9;
}

.rodape {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.rodape .button-help {
  color: #3A5F6F;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
}

.rodape .paragraph-2 {
  color: #979090;
  font-size: 10px;
  margin: 0;
  margin-top: 5px;
}